In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
data = [[1, 'alice'], [2, 'bob'], [3, 'charlie']]
df = pd.DataFrame(data, columns=['ID', 'Name'])
print(df)

   ID     Name
0   1    alice
1   2      bob
2   3  charlie

In [ ]:
df2 = pd.read_csv('data.csv')
print(df2)

   name   age   score
0   Kim    27      92
1   Lee    33      98
2  Park    19      87

In [ ]:
df3 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv')
print(df3)

      gameId\tcreationTime\tgameDuration\tseasonId\twinner\tfirstBlood\tfirstTower\tfirstInhibitor\tfirstBaron\tfirstDragon\tfirstRiftHerald\tt1_champ1id\tt1_champ1_sum1\tt1_champ1_sum2\tt1_champ2id\tt1_champ2_sum1\tt1_champ2_sum2\tt1_champ3id\tt1_champ3_sum1\tt1_champ3_sum2\tt1_champ4id\tt1_champ4_sum1\tt1_champ4_sum2\tt1_champ5id\tt1_champ5_sum1\tt1_champ5_sum2\tt1_towerKills\tt1_inhibitorKills\tt1_baronKills\tt1_dragonKills\tt1_riftHeraldKills\tt1_ban1\tt1_ban2\tt1_ban3\tt1_ban4\tt1_ban5\tt2_champ1id\tt2_champ1_sum1\tt2_champ1_sum2\tt2_champ2id\tt2_champ2_sum1\tt2_champ2_sum2\tt2_champ3id\tt2_champ3_sum1\tt2_champ3_sum2\tt2_champ4id\tt2_champ4_sum1\tt2_champ4_sum2\tt2_champ5id\tt2_champ5_sum1\tt2_champ5_sum2\tt2_towerKills\tt2_inhibitorKills\tt2_baronKills\tt2_dragonKills\tt2_riftHeraldKills\tt2_ban1\tt2_ban2\tt2_ban3\tt2_ban4\tt2_ban5
0      3326086514\t1504279457970\t1949\t9\t1\t2\t1\t1...
1      3229566029\t1497848803862\t1851\t9\t1\t1\t1\t1...
2      3327363504\t1504360103310\t1493\t9\t1\t2\t1\t1...
3      3326856598\t1504348503996\t1758\t9\t1\t1\t1\t1...
4      3330080762\t1504554410899\t2094\t9\t1\t2\t1\t1...
...                                                  ...
51485  3308904636\t1503076540231\t1944\t9\t2\t1\t2\t2...
51486  3215685759\t1496957179355\t3304\t9\t2\t1\t1\t2...
51487  3322765040\t1504029863961\t2156\t9\t2\t2\t2\t2...
51488  3256675373\t1499562036246\t1475\t9\t2\t2\t2\t2...
51489  3317333020\t1503612754059\t1445\t9\t1\t1\t1\t1...

[51490 rows x 1 columns]

In [ ]:
url ='https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df4 = pd.read_csv(url,delimiter='\t')
print(df4)

           gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0      3326086514  1504279457970          1949         9       1           2
1      3229566029  1497848803862          1851         9       1           1
2      3327363504  1504360103310          1493         9       1           2
3      3326856598  1504348503996          1758         9       1           1
4      3330080762  1504554410899          2094         9       1           2
...           ...            ...           ...       ...     ...         ...
51485  3308904636  1503076540231          1944         9       2           1
51486  3215685759  1496957179355          3304         9       2           1
51487  3322765040  1504029863961          2156         9       2           2
51488  3256675373  1499562036246          1475         9       2           2
51489  3317333020  1503612754059          1445         9       1           1

       firstTower  firstInhibitor  firstBaron  firstDragon  ...  \
0               1               1           1            1  ...
1               1               1           0            1  ...
2               1               1           1            2  ...
3               1               1           1            1  ...
4               1               1           1            1  ...
...           ...             ...         ...          ...  ...
51485           2               2           0            2  ...
51486           1               2           2            2  ...
51487           2               2           0            1  ...
51488           2               2           0            2  ...
51489           1               1           1            2  ...

       t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills  \
0                  5                  0              0               1
1                  2                  0              0               0
2                  2                  0              0               1
3                  0                  0              0               0
4                  3                  0              0               1
...              ...                ...            ...             ...
51485             10                  2              0               4
51486             11                  7              4               4
51487             10                  2              0               2
51488             11                  3              0               1
51489              1                  0              0               1

       t2_riftHeraldKills  t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0                       1      114       67       43       16       51
1                       0       11       67      238       51      420
2                       0      157      238      121       57       28
3                       0      164       18      141       40       51
4                       0       86       11      201      122       18
...                   ...      ...      ...      ...      ...      ...
51485                   0       55       -1       90      238      157
51486                   1      157       55      119      154      105
51487                   0      113      122       53       11      157
51488                   0      154       39       51       90      114
51489                   0       11      157      141       31       18

[51490 rows x 61 columns]

In [ ]:
df5 = pd.read_excel('data.xlsx')
print(df5)

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
1  B반  김이정  여  78.0   45.0   응시   확인
2  A반  오지수  남   NaN    NaN   응시   확인
3  B반  김선후  남  33.0   44.0   응시  NaN
4  A반  하진희  여   0.0   85.0   응시  NaN
5  A반  강현진  남   NaN    NaN  NaN  NaN
6  B반  김진솔  남  90.0   89.0   응시   확인
7  B반  박서준  여  78.0   45.0   응시   확인
8  A반  김성희  남   NaN    NaN  NaN   확인
9  B반  이지서  여  86.0  100.0   응시   확인

In [ ]:
df5.sort_values(by=['국어'], ascending=False)
print(df5.sort_values)

<bound method DataFrame.sort_values of     반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
1  B반  김이정  여  78.0   45.0   응시   확인
2  A반  오지수  남   NaN    NaN   응시   확인
3  B반  김선후  남  33.0   44.0   응시  NaN
4  A반  하진희  여   0.0   85.0   응시  NaN
5  A반  강현진  남   NaN    NaN  NaN  NaN
6  B반  김진솔  남  90.0   89.0   응시   확인
7  B반  박서준  여  78.0   45.0   응시   확인
8  A반  김성희  남   NaN    NaN  NaN   확인
9  B반  이지서  여  86.0  100.0   응시   확인>

In [ ]:
df_up80 = df5[df5['국어'] >= 80]
print(df_up80)

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
6  B반  김진솔  남  90.0   89.0   응시   확인
9  B반  이지서  여  86.0  100.0   응시   확인

In [ ]:
column_a=df5.반
print(column_a)

0    A반
1    B반
2    A반
3    B반
4    A반
5    A반
6    B반
7    B반
8    A반
9    B반
Name: 반, dtype: object

In [ ]:
column_ab=df5[['반','이름']]
print(column_ab)

    반   이름
0  A반  구이서
1  B반  김이정
2  A반  오지수
3  B반  김선후
4  A반  하진희
5  A반  강현진
6  B반  김진솔
7  B반  박서준
8  A반  김성희
9  B반  이지서

In [ ]:
df6 = pd.read_excel('BoxOffice.xlsx')
print(df6)

      순위         영화명        개봉일           매출액       관객수  스크린수    상영횟수 대표국적  \
0      1          명량 2014-07-30  135758208810  17615844  1587  188724   한국
1      2        극한직업 2019-01-23  139655543516  16266338  2003  292816   한국
2      3   신과함께-죄와 벌 2017-12-20  115727528087  14414658  1912  214631   한국
3      4        국제시장 2014-12-17  110945002730  14264059  1044  212698   한국
4      5  어벤져스: 엔드게임 2019-04-24  122492181020  13977602  2835  246433   미국
..   ...         ...        ...           ...       ...   ...     ...  ...
195  196         스파이 2013-09-05   24513098305   3436092   785   72805   한국
196  197   그것만이 내 세상 2018-01-17   27457704382   3420287   956   95444   한국
197  198    토이 스토리 4 2019-06-20   28763352540   3400623  1336   85913   미국
198  199           돈 2019-03-20   28870244062   3389125  1431  120809   한국
199  200    맨 인 블랙 3 2012-05-24   27301520070   3379762   770   69538   미국

        국적                  배급사
0       한국            (주)씨제이이엔엠
1       한국            (주)씨제이이엔엠
2       한국        롯데쇼핑㈜롯데엔터테인먼트
3       한국            (주)씨제이이엔엠
4       미국   월트디즈니컴퍼니코리아 유한책임회사
..     ...                  ...
195  한국,태국            (주)씨제이이엔엠
196     한국            (주)씨제이이엔엠
197     미국   월트디즈니컴퍼니코리아 유한책임회사
198     한국               (주)쇼박스
199     미국  한국소니픽쳐스릴리징브에나비스타영화㈜

[200 rows x 10 columns]

In [ ]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB

In [ ]:
data = [['John', 90, 85, 88], ['Alice', 87, 91, 89], ['Bob', 78, 80, 85], ['Emily', 92, 88, 82]]
df7 = pd.DataFrame(data, columns=['학생', '수학', '영어', '괴학'])
print(df7)
print(df7.describe())
df7.groupby('수학').max()
df7[(df7['수학']>=90)]

      학생  수학  영어  괴학
0   John  90  85  88
1  Alice  87  91  89
2    Bob  78  80  85
3  Emily  92  88  82
              수학         영어         괴학
count   4.000000   4.000000   4.000000
mean   86.750000  86.000000  86.000000
std     6.184658   4.690416   3.162278
min    78.000000  80.000000  82.000000
25%    84.750000  83.750000  84.250000
50%    88.500000  86.500000  86.500000
75%    90.500000  88.750000  88.250000
max    92.000000  91.000000  89.000000

      학생  수학  영어  괴학
0   John  90  85  88
3  Emily  92  88  82

In [ ]:
df8 = pd.read_excel('BoxOffice.xlsx')
print(df8)

      순위         영화명        개봉일           매출액       관객수  스크린수    상영횟수 대표국적  \
0      1          명량 2014-07-30  135758208810  17615844  1587  188724   한국
1      2        극한직업 2019-01-23  139655543516  16266338  2003  292816   한국
2      3   신과함께-죄와 벌 2017-12-20  115727528087  14414658  1912  214631   한국
3      4        국제시장 2014-12-17  110945002730  14264059  1044  212698   한국
4      5  어벤져스: 엔드게임 2019-04-24  122492181020  13977602  2835  246433   미국
..   ...         ...        ...           ...       ...   ...     ...  ...
195  196         스파이 2013-09-05   24513098305   3436092   785   72805   한국
196  197   그것만이 내 세상 2018-01-17   27457704382   3420287   956   95444   한국
197  198    토이 스토리 4 2019-06-20   28763352540   3400623  1336   85913   미국
198  199           돈 2019-03-20   28870244062   3389125  1431  120809   한국
199  200    맨 인 블랙 3 2012-05-24   27301520070   3379762   770   69538   미국

        국적                  배급사
0       한국            (주)씨제이이엔엠
1       한국            (주)씨제이이엔엠
2       한국        롯데쇼핑㈜롯데엔터테인먼트
3       한국            (주)씨제이이엔엠
4       미국   월트디즈니컴퍼니코리아 유한책임회사
..     ...                  ...
195  한국,태국            (주)씨제이이엔엠
196     한국            (주)씨제이이엔엠
197     미국   월트디즈니컴퍼니코리아 유한책임회사
198     한국               (주)쇼박스
199     미국  한국소니픽쳐스릴리징브에나비스타영화㈜

[200 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB
      순위     영화명        개봉일          매출액      관객수  스크린수   상영횟수 대표국적  국적  \
194  195  어바웃 타임 2013-12-05  25312684300  3449451   568  67267   영국  영국

                     배급사
194  유니버설픽쳐스인터내셔널 코리아(유)

1

In [ ]:
df8.info()

In [ ]:
df8['대표국적'].value_counts()

대표국적
한국    116
미국     82
일본      1
영국      1
Name: count, dtype: int64

In [ ]:
print(df8[(df8['대표국적'] == '영국')])

      순위     영화명        개봉일          매출액      관객수  스크린수   상영횟수 대표국적  국적  \
194  195  어바웃 타임 2013-12-05  25312684300  3449451   568  67267   영국  영국

                     배급사
194  유니버설픽쳐스인터내셔널 코리아(유)

In [ ]:
df8['대표국적'][df8['순위'].min()]

'한국'